h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

td.Available {
    background: lightgreen;
}

td.Prefered {
    background: greenyellow;
}

td.RatherNot {
    background: orange;
}

td.Booked {
    background: black;
}

td.NotAvailable {
    background: #f5cece;
}


